.content-wrapper {
    background-color:rgb(0,0,0);
}

.img-responsive.iuri {
    border-radius: 10px;
}

.title1{
    font-family: 'Open Sans', sans-serif;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
}

.family{
    font-family: 'Open Sans', sans-serif;
}